
#addform input:focus,#editform input:focus,#editurgencyform input:focus {}
#addform input.error,#editform input.error,#editurgencyform input.error {}
#addform label.error,#editform label.error,#editurgencyform label.error{
   padding-left:10px; color: #555; font-size:13px;
}

#addform select.error,#editform select.error,#editurgencyform select.error {
   padding-left:10px; color: #555; font-size:13px;
}

