@charset "utf-8";

/*----------------equipment---------------*/
.equipment{width:670px; float:left; font-family:"微软雅黑";}
.title_equipment{width:670px; float:left; font-size:30px; font-weight:500; color:#0ca7a1; text-align:left; margin:20px 0 10px 0;}
.tblack_equipment{color:#5a5a5a}
.header_equipment{height:40px; line-height:40px; color:#5a5a5a; width:650px; padding:0 10px; float:left;font-size:14px}
.tLeft_equipment{text-align:left; width:325px; height:40px;float:left;}
.tRight_equipment{text-align:right; width:325px;height:40px;float:left;}
.equipment_main{width:670px; float:left; font-size:13px; padding:10px 0; border-bottom:1px solid #aeaeae}
.equipment_main li{float:left; height:30px; line-height:30px;}
.tgrey_equipmentMain{width:80px; text-align:right; color:#aeaeae;}
.tblack_equipmentMain{width:580px; padding-left:10px; text-align:left; color:#5a5a5a;}
.tblack_equipmentMain a{color:#0ca7a1; text-decoration:none;}
.pl_equipmentMain{margin-left:10px;}

/*----------------repair_records---------------*/
.repair_records{width:670px; float:left; font-family:"微软雅黑";}
.equipment_repair{width:670px;margin:0 auto; font-family:"微软雅黑"}
.equipmentRepair_title{width:670px;float:left;text-align:left;}
.equipmentRepair_titleGreen{font-size:24px; color:#0ca7a1; height:30px; padding-top:13px; padding-bottom:5px; font-weight:500; border-bottom:2px solid #0ca7a1; width:180px; float:left}
.equipmentRepair_titleGray{font-size:14px; color:#aeaeae;border-bottom:2px solid #aeaeae; width:490px;height:20px; padding-top:23px; padding-bottom:5px;float:left; text-align:right}
.equipmentRepair_titleGray a{text-decoration:none; color:#aeaeae; margin:0 5px;}
.equipmentRepair_titleGray a:hover{text-decoration:underline}
.equipmentRepair_main{width:670px;float:left;text-align:left; padding:30px 0 10px 0;}
.equipmentRepair_main li{float:left; font-size:13px; padding:5px 0;}
.tgrey_equipmentRepair{width:180px; text-align:right; color:#aeaeae; height:30px; line-height:30px;}
.tlong_equipmentRepair{width:480px; padding-left:10px; color:#5a5a5a; height:30px; line-height:30px;}
.tInput_equipmentRepair{width:308px;font-family:"微软雅黑"; height:28px; border:1px solid #dbdbdb; padding-left:10px; color:#5a5a5a; font-size:13px; line-height:28px}
.tSelect_equipmentRepair{width:320px;font-family:"微软雅黑"; height:30px; border:1px solid #dbdbdb; padding-left:10px;color:#5a5a5a; font-size:13px; line-height:30px}
.thgrey_equipmentRepair{width:180px; text-align:right; color:#aeaeae; height:72px; line-height:13px;}
.thlong_equipmentRepair{width:480px; padding-left:10px; color:#aeaeae; height:72px; line-height:72px;}
.thInput_equipmentRepair{width:298px;font-family:"微软雅黑"; height:60px; border:1px solid #dbdbdb; padding:5px 10px; color:#5a5a5a; font-size:13px; line-height:18px; overflow:auto}
.thimg_equipmentRepair{background:url(../images/health/img.png) left center no-repeat; width:490px;color:#aeaeae; height:53px;}
.thimg_equipmentRepair li{height:20px; float:left; width:400px; padding-left:90px; color:#aeaeae; line-height:20px;}
.thimg_equipmentRepair li a{color:#0ca7a1;}
.btn_equipmentRepair{width:670px; text-align:left;}
.btn_equipmentRepair a{background:url(../images/button/btn_register.png) no-repeat; height:49px; width:341px; display:block; text-align:center; font-size:18px; font-weight:500; text-decoration:none; line-height:49px; color:#fff; margin-left:180px; margin-top:20px;}
.tlong_equipmentRepair a{color:#0ca7a1; text-decoration:none}
.prompt_equipmentRepair{color:#5a5a5a; line-height:18px; margin-top:30px}