@charset "utf-8";

/*----------------index_bottom---------------*/
.index_health_bottom{width:100%; height:290px; padding-top:50px; float:left; background:#000; margin-top:20px; font-family:"微软雅黑"; color:#5a5a5a}
.bottom_main{width:1000px; margin:0 auto;}
.bottom_contact,.bottom_concern{width:300px; float:left; text-align:left}
.tWhite{color:#fff; font-size:13px; padding-bottom:10px; width:300px;}
.tGray_bottom{width:300px; font-size:12px; text-align:left; height:25px; line-height:25px;}
.tGreen{width:140px; height:32px; text-align:left; color:#0ca7a1; font-size:24px; font-weight:500; line-height:30px; padding-right:10px}
.bottom_help{width:300px; float:left; text-align:left; display:inline; margin:0 50px;}
.bottom_help li,.bottom_concern li{float:left;}
.bottom_help li a{font-size:13px; text-decoration:none; color:#5a5a5a}
.bottom_help li a:hover{text-decoration:underline}
.taqueation_left{width:100px; height:25px; line-height:25px; text-align:left;}
.taqueation_middle{width:100px; height:25px; line-height:25px; text-align:center;}
.taqueation_right{width:100px; height:25px; line-height:25px; text-align:right;}
.wechat_code{background:url(../images/health/wechat_subscribe.png)/*tpa=http://www.995120.cn/images/health/wechat_subscribe.png*/ center 5px no-repeat; width:122px; height:15px; margin-right:51px; margin-left:5px; display:inline; text-align:center; padding-top:135px; font-size:13px;}
.blog_code{background:url(../images/health/blog_code.png)/*tpa=http://www.995120.cn/images/health/blog_code.png*/ center 5px no-repeat; width:122px; height:15px; text-align:center; padding-top:135px; font-size:13px;}
.copyright{width:1000px; float:left; margin-top:0px; border-top:1px solid #5a5a5a; padding-top:10px; text-align:left; font-size:13px;}