@charset "utf-8";

/*----------------index_tab---------------*/
.index_tab{width:670px; margin:0 auto; font-family:"微软雅黑"}
.tab_menu{}
.tab_menu ul{}
.tab_menu li{}
.tab_menu li.selected{}
.tab_box{width:670px; float:left;}
.hide{display:none;}

/*----------------bloodPressure_history---------------*/
.title_BPhistory{ float:left;}
.tgreen_title_BPhistory{font-size:30px;float:left; text-align:left; font-weight:500; color:#00a65a; height:48px; line-height:48px; width:320px;font-family:"微软雅黑"}
.select_BPhistory{float:left; text-align:right; padding-top:10px; height:45px;}
.select_PhoneFamily{width:345px; float:left; text-align:right; padding-top:10px; height:45px;}
.select-style{ position:absolute; overflow:hidden;}
.select-style select{ margin-left:230px;width:118px;height:28px;padding-left:10px;font-family:"微软雅黑";}
.select-style_baseinfo{ position:absolute; overflow:hidden;}
.select-style_baseinfo select{ width:230px;height:28px;padding-left:10px;font-family:"微软雅黑";background:}
.select-style_habit{ position:absolute; overflow:hidden;}
.select-style_habit select{ width:230px;height:28px;padding-left:10px;font-family:"微软雅黑";}
.select-style_htspecial{ position:absolute; overflow:hidden;}
.select-style_htspecial select{ width:230px;padding-left:10px;font-family:"微软雅黑";}    
.select-style_medcine{ position:absolute; overflow:hidden;}
.select-style_medcine select{ width:120px;padding-left:10px;font-family:"微软雅黑";}
.select-style_familydisease{ position:absolute; overflow:hidden;}
.select-style_familydisease select{ width:230px;padding-left:10px;font-family:"微软雅黑";}
.select-style_relation{ overflow:hidden; width:200px;}
.select-style_relation select{ width:75px;height:32px;font-family:"微软雅黑";}      
/*----------------search---------------*/
.search{width:630px; padding:20px;float:left; margin-top:10px; }
.search li{float:left; text-align:left}
.criteria_search{width:800px;}
.startTime{width:60px; color:#5a5a5a; font-size:13px; height:30px; line-height:30px;font-family:"微软雅黑"}
.endTime{width:60px; color:#5a5a5a; font-size:13px; height:30px; line-height:30px; margin-left:20px;font-family:"微软雅黑"}
.time_input{width:165px; height:30px; line-height:30px;}
.time_input input{width:145px; padding-left:10px; height:28px; border:1px solid #aeaeae}
.quick_search{color:#a1a1a1; font-size:13px; height:30px; line-height:30px; width:470px;font-family:"微软雅黑"}
.quick_search a{color:#a1a1a1; text-decoration:none; margin-right:10px}
.quick_search a:hover{text-decoration:underline}
.btn_search{width:110px; height:40px; color:#fff; line-height:40px; display:block; text-align:center; margin-left:10px;font-color:#a1a1a1;}
.btn_search_text{font-size:18px; font-weight:500;}

/*----------------table_page---------------*/
.index_table{margin:10px 15px 10px 15px;float:left;width:98%;}
.bPhistory_table{float:left; text-align:left;font-family:"微软雅黑";width:100%;margin-left:10px}
.bPhistory_table a{color:#fff;width:78px; margin-right:5px; text-decoration:none;}
.bPhistory_table th{background-color:#f3f4f5; height:40px; padding-left:20px; line-height:40px;  text-align:left;font-size:20px}
.bPhistory_table td{color:#5a5a5a; padding:5px 0 5px 20px; line-height:18px;}
.even{background:#f7f7f7}
.odd{background:#fff}
.abnormal td{color:#ff9600}
.index_page{float:right; height:25px; line-height:25px; margin:5px 15px 0px 0px;}
.page_information{width:180px; float:left; text-align:left; font-size:14px; color:#5a5a5a;height:25px; line-height:25px;margin-top:5px;}
.page_button{width:385px; float:left; font-size:14px; height:25px; line-height:25px;}
.page_select{width:90px; float:left; text-align:right;font-size:14px; color:#5a5a5a;height:25px; line-height:25px;margin-top:5px;}
.page_select select{height:23px; width:40px; line-height:23px; font-size:14px; color:#5a5a5a; margin:0 10px; border:1px solid #aeaeae; padding-left:3px;}

/*----------------ecg---------------*/
.ecg{width:670px;margin:0 auto; font-family:"微软雅黑"}
.ecg_title{width:670px;float:left;text-align:left;}
.ecg_titleGreen{font-size:24px; color:#00a65a; height:30px; padding-top:13px; padding-bottom:5px; font-weight:500; border-bottom:2px solid #00a65a; width:120px; float:left}
.ecg_titleGray{font-size:14px; color:#00a65a;border-bottom:2px solid #00a65a; width:550px;height:20px; padding-top:23px; padding-bottom:5px;float:left; text-align:right}
.ecg_titleGray a{text-decoration:none; color:#aeaeae; margin:0 5px;}
.ecg_titleGray a:hover{text-decoration:underline}
.ecg_main{width:670px;float:left;text-align:left;}
.ecg_main li{float:left;line-height:30px;}
.img_ecg{background:url(../images/health/ecg.jpg) no-repeat; height:312px; width:670px; margin:20px 0;}
.tgreen_ecg{font-size:18px; font-weight:500; color:#00a65a;width:670px;}
.tgrey_ecg{color:#5a5a5a}
.tGrey_ecgname{width:75px; color:#aeaeae; font-size:14px; text-align:right}
.tblack_ecgname{width:585px; color:#5a5a5a; font-size:14px; text-align:left; padding-left:10px;}

.btn_goback{width:69%; height:30px; line-height:30px;float:left; }
.btn_goback a{height:30px; background:#00a65a; line-height:30px; color:#fff; text-align: center; width:88px; display: block; text-decoration: none}


.family_disease_relation a{text-decoration:none; color:white; margin:0 5px;}
.family_disease_relation a:hover{text-decoration:underline}=======

/*-------------------advice_detail---------------------*/
.advice{width:670px;margin:0 auto; font-family:"微软雅黑"}
.advice_title{width:670px;float:left;text-align:left;}
.advice_titleGreen{font-size:24px; color:#00a65a; height:30px; padding-top:13px; padding-bottom:5px; font-weight:500; border-bottom:2px solid #00a65a; width:120px; float:left}
.advice_titleGray{font-size:14px; color:#aeaeae;border-bottom:2px solid #aeaeae; width:550px;height:20px; padding-top:23px; padding-bottom:5px;float:left; text-align:right}
.advice_titleGray a{text-decoration:none; color:#aeaeae; margin:0 5px;}
.advice_titleGray a:hover{text-decoration:underline}
.advice_main{width:670px;float:left;text-align:left;}
.advice_main table.adviceInfo tr{height: 40px;}
.advice_main table tr td span{float: left;
padding: 5px 0;
height: 28px;
line-height: 28px;
font: 13px/26px "微软雅黑";
text-align: right;
}
.advice_main table tr td{font: 13px/26px "微软雅黑";color: #5a5a5a;}
.btn_save{
	background:url(../images/button/btn_search.jpg) no-repeat;
	height: 40px; 
	width: 120px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font: 14px/28px "微软雅黑";
	margin-bottom: 6px;
	margin-right: 20px;
}
.btn_save1{
	background:url(../images/button/btn_location.png) no-repeat;
	height: 30px; 
	width: 80px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font: 14px/28px "微软雅黑";
	margin-bottom: 6px;
	margin-left: 40px;
}
span.method{line-height: 28px;}
.advice_main select{
	font: 13px/26px "微软雅黑";
	color: #5a5a5a;
}
.advice_main input[type="text"] {
	border: 1px solid #aeaeae;
	height: 28px;
	font: 13px/26px "微软雅黑";
	color: #5a5a5a;
	width: 200px;
	padding-left: 7px;
}
.advice_main input.shortText{
	width: 60px;
}
.med_table input.med_hour, .med_table input.med_dosage{
	width: 160px;
}
.med_table2 input.med_hour, .med_table2 input.med_dosage{
	width: 125px;
}
.advice_main textarea{
	height: 65px;
	font: 13px/26px "微软雅黑";
	color: #5a5a5a;
	width: 98%;
	overflow: auto;
	margin: 3px 0 3px 0;}
.day_hour{width: 100%;text-align: left;}
.day_hour .day{width: 130px; height:180px;float: left; border: 1px solid #aeaeae;}
.hour div,.day div{padding: 0px 10px 0 15px;font: 13px/26px "微软雅黑";
	color: #5a5a5a;}
.day_hour .hour{
	width: 130px;
	height:180px;
	float: left; 
	margin-left: 20px;
	overflow-y:scroll;
	overflow-x:hidden;
	border: 1px solid #aeaeae;
	}
	
	
.medicine{border-left: 1px solid #aeaeae;border-top: 1px solid #aeaeae;border-right: 1px solid #aeaeae;width: 99%;}
.medicine table tr th,.medicine table tr td{
	text-align: center;
	border-bottom: 1px solid #aeaeae ;
	font: 13px/26px "微软雅黑";
	color: #5a5a5a;}
.medicine .med_tab{text-align: right;width: 100%;border-bottom: 1px solid #aeaeae ;height: 23px;}
.med_tab a{padding-right: 5px;line-height: 23px;color: #00a65a;font: 13px/26px "微软雅黑";}
.med_table a{color: #00a65a;font: 13px/26px "微软雅黑";}
.med_table2 a{color: #00a65a;font: 13px/26px "微软雅黑";}

.family_disease_relation a{text-decoration:none; color:white; margin:0 5px;}
.family_disease_relation a:hover{text-decoration:underline}

.time_input select {
    width: 145px;
    padding-left: 10px;
    height: 28px;
    border: 1px solid #aeaeae;
}

.btn-primary_select {
	width: 145px;
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 6px 30px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    margin-left: 5px;
}

ul{padding:0;margin:0;list-style-type:none;}
li{list-style-type:none;}
