@charset "utf-8";

/*----------------register_header---------------*/
body{background:#ededed}
.register_header{width:100%; height:128px; float:left; border-bottom:2px solid #ddd}
.bgTop_register{background:#454c52; width:100%; height:28px; float:left}
.login_out{width:1000px; margin:0 auto; font:13px/26px "微软雅黑" ;}
.login_out li{float:left; height:28px;}
.login_out li a{color:#dde0e5; text-decoration:none;}
.login_out li a:hover{color:#fff;}
.login_wechat{background:url(../images/icon/wechat.jpg)/*tpa=http://www.995120.cn/images/icon/wechat.jpg*/ left center no-repeat; text-align:left; width:70px; padding-left:30px;}
.login_bolg{background:url(../images/icon/micro_blog.jpg)/*tpa=http://www.995120.cn/images/icon/micro_blog.jpg*/ left center no-repeat; text-align:left; width:70px; padding-left:30px;}
.login_service_phone{background:url(../images/icon/service_phone.jpg)/*tpa=http://www.995120.cn/images/icon/service_phone.jpg*/ left center no-repeat;text-align:left; width:620px; padding-left:30px; color:#dde0e5;}
.login_top{width:70px; text-align:right;}
.login_register{width:80px;text-align:right;}
.logo_menu{width:100%; height:100px; float:left;background:#fff;}
.bgLogo_register{background:url(../images/icon/logo.jpg)/*tpa=http://www.995120.cn/images/icon/logo.jpg*/ left center no-repeat; width:1000px; height:100px; margin:0 auto;}
.bgLogo_register li{float:left; font-family:"微软雅黑";}
.tGraymax{text-align:left; width:205px; height:40px; font-size:24px; font-weight:500; color:#5a5a5a; line-height:40px; border-left:1px solid #aeaeae; margin:30px 0 30px 270px; display:inline; padding-left:25px;}
.bgLogo_register a{font-size:14px; color:#71A944; text-decoration:none;}
.goHome{width:499px;text-align:right; line-height:120px;}

/*----------------register_main---------------*/
.register_middle{width:100%; float:left;}
.register_main{width:1000px; margin:20px auto; font-family:"微软雅黑";}
.bg_register{width:1000px; height:580px; padding:40px; float:left; background:#fff}
.bg_register li{float:left;}
.

/*----------------step_register---------------*/  
.register_title{width:920px; float:left;}
.register_title li{float:left; text-align:left}
.titleGreen{font-size:24px; color:#71A944; height:40px; padding-top:13px; padding-bottom:5px; font-weight:500; border-bottom:2px solid #71A944; width:125px;}
.titleGray{font-size:16px; color:#aeaeae; font-weight:500; border-bottom:2px solid #aeaeae; width:795px;height:40px; padding-top:23px; padding-bottom:5px;}
.password_choice{width:920px; float:left; margin-top:40px;}
.password_choice_left{width:260px; float:left; background:url(../images/password/bg_step01.png)/*tpa=http://www.995120.cn/images/password/bg_step01.png*/ left top no-repeat; height:580px}
.password_choice_right{width:650px; float:left; margin-top:40px}
.password_choice_right li{float:left; margin-bottom:10px;}
.register_input{width:360px; height:44px; text-align:left;}
.register_input input{width:339px; height:42px; border:1px solid #dbdbdb; padding-left:10px;  background:#f7f7f7; color:#ccc; font:500 18px/42px "微软雅黑";}
.register_input select{width:351px; height:44px; border:1px solid #dbdbdb; padding-left:10px;  background:#f7f7f7; color:#5a5a5a; font:500 18px/44px "微软雅黑";}
.register_prompt{width:290px; height:44px;font-size:13px; line-height:18px; color:#aeaeae; text-align:left;}
.tRed{color:#ee3a67; font-size:16px; margin-right:5px;}
.register_prompt_hidden{width:290px; height:44px;font-size:13px; line-height:18px; color:#aeaeae; text-align:left; display:none}
.password_rank{width:650px; height:40px; background:url(../images/registration/password_rank.png)/*tpa=http://www.995120.cn/images/registration/password_rank.png*/ left center no-repeat; display:none}
.imgWrong_hidden{background:url(../images/icon/wrong.png)/*tpa=http://www.995120.cn/images/icon/wrong.png*/ left center no-repeat; height:44px;font-size:13px; line-height:44px; color:#aeaeae; text-align:left; width:262px; padding-left:38px; display:none;}
.captcha{width:115px; height:44px;font-size:13px;}
.captcha a{background:url(../images/button/btn_captcha.png)/*tpa=http://www.995120.cn/images/button/btn_captcha.png*/ no-repeat; width:114px; height:44px; display:block; font:14px/44px "微软雅黑"; color:#5a5a5a; text-decoration:none;}
.captcha a:hover{background:url(../images/button/btn_captcha_c.png)/*tpa=http://www.995120.cn/images/button/btn_captcha_c.png*/ no-repeat; color:#71A944}
.captcha_prompt{width:650px; height:30px; font:13px/30px "微软雅黑"; color:#aeaeae; text-align:left}
.tBlue{color:#71A944}
.btn_reguster{width:650px; height:44px; margin-top:40px;}
.btn_reguster a{background:#71A944; width:341px; height:49px; display:block; color:#fff; text-decoration:none; font:500 18px/49px "微软雅黑"}
.password_modification_left{width:260px; float:left; background:url(../images/password/bg_step02.png)/*tpa=http://www.995120.cn/images/password/bg_step02.png*/ left top no-repeat; height:580px}

/*----------------step_register_success---------------*/ 
.register_success{background:url(../images/icon/success.png)/*tpa=http://www.995120.cn/images/icon/success.png*/ left top no-repeat; height:100px; width:330px; padding-left:100px; margin-left:290px; margin-top:200px;}
.tgreen_success{width:330px; float:left; font:500 36px/60px "微软雅黑";color:#71A944; text-align:left}
.register_success a{text-decoration:none; font:14px/30px "微软雅黑"; color:#5a5a5a}
.register_success a:hover{text-decoration:underline;}
.line_success{margin-left:10px; margin-right:10px; font:14px/30px "微软雅黑"; color:#5a5a5a}
.tPassword_mail{width:650px; font:18px/24px "微软雅黑"; color:#5a5a5a; text-align:left;}
.tPassword_mail a{width:650px; font:18px/24px "微软雅黑"; color:#71A944; text-align:left;}
.tgrayPassword_mail{width:650px; font:18px/24px "微软雅黑"; color:#aeaeae; text-align:left; margin-top:30px; padding-top:10px; border-top:1px solid #aeaeae}