@charset "utf-8";

/*----------------popup---------------*/

ul{padding:0;margin:0;list-style-type:none;}
li{list-style-type:none;}
.popup{width:480px; position:absolute; font-family:"微软雅黑"; top:200px; left:100px;}
.popup_header{width:100%; float:left; height:40px; background:#71A944; line-height:40px; color:#fff}
.name_popupHeader{width:72%; padding-left:3%; text-align:left; font-size:18px; font-weight:500; float:left}
.close_popupHeader{width:22%; padding-right:3%; text-align:right; float:left}
.close_popupHeader a{color:#fff; text-decoration:none; font-size:20px;}
.popup_main{width:92%; float:left; padding:4%; background:#fff; font-size:13px;text-align:left;}
.popup_main li{padding:10px 0;}
.popup_main2{width:100%; float:left; padding:4%; background:#fff; font-size:13px;text-align:left;}
.popup_main2 li{padding:3px 0;}
/*----------------bp---------------*/
.tblack_bp{width:100%; float:left; height:30px; line-height:30px; text-align:left; color:#5a5a5a}
.tgreen_bpPrompt{width:100%; float:left; height:30px; line-height:30px; text-align:left; color:#71A944}
.tgreen_bp{background:url(../images/icon/greenMax.png)/*tpa=http://www.995120.cn/images/icon/greenMax.png*/ right center no-repeat;width:100%;text-align:left; float:left; height:30px; line-height:30px; color:#5a5a5a; border-bottom:1px dotted #aeaeae}
.tblue_bp{background:url(../images/icon/blueMax.png)/*tpa=http://www.995120.cn/images/icon/blueMax.png*/ right center no-repeat; width:100%;float:left; height:30px; line-height:30px; color:#5a5a5a; border-bottom:1px dotted #aeaeae}
.tyellow_bp{background:url(../images/icon/yellowMax.png)/*tpa=http://www.995120.cn/images/icon/yellowMax.png*/ right center no-repeat; width:100%;float:left; height:30px; line-height:30px; color:#5a5a5a; border-bottom:1px dotted #aeaeae}
.torange_bp{background:url(../images/icon/orangeMax.png)/*tpa=http://www.995120.cn/images/icon/orangeMax.png*/ right center no-repeat; width:100%;float:left; height:30px; line-height:30px; color:#5a5a5a; border-bottom:1px dotted #aeaeae}
.tbrown_bp{background:url(../images/icon/brownMax.png)/*tpa=http://www.995120.cn/images/icon/brownMax.png*/ right center no-repeat; width:100%;float:left; height:30px; line-height:30px; color:#5a5a5a; border-bottom:1px dotted #aeaeae}
.tred_bp{background:url(../images/icon/redMax.png)/*tpa=http://www.995120.cn/images/icon/redMax.png*/ right center no-repeat; width:100%;float:left; height:30px; line-height:30px; color:#5a5a5a; border-bottom:1px dotted #aeaeae}

.tyellow_max_bp{background:url(../images/icon/tyellowMax.png)/*tpa=http://www.995120.cn/images/icon/tyellowMax.png*/ right center no-repeat; width:100%;float:left; height:30px; line-height:30px; color:#5a5a5a; border-bottom:1px dotted #aeaeae}
.tred_orange_bp{background:url(../images/icon/red_orangeMax.png)/*tpa=http://www.995120.cn/images/icon/red_orangeMax.png*/ right center no-repeat; width:100%;float:left; height:30px; line-height:30px; color:#5a5a5a; border-bottom:1px dotted #aeaeae}
.img_color{margin-right:10px;margin-top:10px; }
.tgrey_bp{color:#aeaeae }

.tgrey_Packagedetails_left{width:20%; float:left; padding-left:4%;text-align: left; font-size:13px; color:#aeaeae;margin-bottom:10px;}
.tblack_Packagedetails_right{width:76%; float:left; text-align: left; font-size:13px; color:#5a5a5a;margin-bottom:10px;}
.tgrey_Packagedetails_left2{width:25%; float:left; padding-left:4%;text-align: right; font-size:13px; color:#aeaeae;margin-bottom:10px;}
.tblack_Packagedetails_right2{width:70%; float:left; text-align: left; font-size:13px; color:#5a5a5a;margin-bottom:10px;}
#package_name{color:#71A944;}

.tgrey_popup{width:30%;float:left; height:30px; line-height:30px; text-align:right; color:#aeaeae; margin-bottom: 10px}
.tblack_popup{width:69%; padding_left:1%;float:left; height:30px; line-height:30px; text-align:left; color:#aeaeae;margin-bottom: 10px}
.tgrey_popup2{width:40%;float:left; height:30px; line-height:30px; text-align:right; color:#aeaeae; margin-bottom: 10px}
.tblack_popup2{width:59%; padding_left:1%;float:left; height:30px; line-height:30px; text-align:left; color:#aeaeae;margin-bottom: 10px}
.btn_popup_confirm{width:69%; padding-left:31%;height:30px; line-height:30px;float:left; }
.btn_popup_confirm a{height:30px; background:#71A944; line-height:30px; color:#fff; text-align: center; width:88px; display: block; text-decoration: none; float:left; margin-right:10px;}
.btn_popup_confirm2{width:76%; padding-left:24%;height:30px; line-height:30px;float:left; }
/*.btn_popup_confirm2 a{height:30px; background:#71A944; line-height:30px; color:#fff; text-align: center; width:88px; display: block; text-decoration: none; float:left; margin-right:10px;}*/
.btn_popup_confirm3{width:50%; padding-left:0%;height:40px; line-height:40px;float:left; } 
.btn_popup_confirm3 a{height:40px; background:#71A944; line-height:40px; color:#fff; text-align: center; width:150px; display: block; text-decoration: none; float:left; margin-right:50px;font-size:20px;}







/*----------------information_push------start---------*/
.information_push{position:absolute; width:680px; top:186px; left:81%; margin-left:-610px; font-family:"微软雅黑"; font-size:12px; z-index: 13;}
.information_push_main{width:680px; float:left; display:none; }
.information_push_mainBG{width:640px; padding:10px 20px; float:left; background:url(../images/health/bg_information.png)/*tpa=http://www.995120.cn/images/health/bg_information.png*/ left top repeat-y;}
.information_push_bottomBG{width:680px; float:left; background:url(../images/health/bgBottom_information.png)/*tpa=http://www.995120.cn/images/health/bgBottom_information.png*/ left top no-repeat; height:8px}
.information_push_button{width:120px; height:40px; float:left; margin-left:550px; display:inline; }
.information_push_button a{background:url(../images/button/bg_alarmclock_z.png)/*tpa=http://www.995120.cn/images/button/bg_alarmclock_z.png*/ no-repeat; display:block;font-size:24px; color:#fff; font-weight:500; text-decoration:none; line-height:26px;width:120px;padding:7px 0; height:26px;}
/*.information_push_button a:hover{background:url(../images/button/bg_alarmclock_c.png) no-repeat; display:none}*/
.img_alarm_clock{margin-right:10px}
.information_push_title{width:640px; text-align:left; color:#71A944; font-size:14px; font-weight:600;padding-bottom:10px;border-bottom:1px dotted #fff}
.information_push_left{width:100px; text-align:left; color:#aeaeae; float:left; padding:5px 0; border-top:1px dotted #aeaeae}
.information_push_right{width:540px; text-align:left; color:#5a5a5a; float:left;padding:5px 0; border-top:1px dotted #aeaeae}

/*----------------information_push-----end----------*/


#popWindow {
	z-index: 15;
	left: 10%;
	top: 10%;
	width: 500px;
	
	display: none;

	position:fixed!important;
	position:absolute;

	_top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat')?documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :document.body.scrollTop + (document.body.clientHeight-this.clientHeight)/2);


}
#popWindow2 {
	z-index: 10;
	left: 10%;
	top: 10%;
	width: 500px;
	
	background-color: #ccff99;
	filter: alpha(opacity = 20);
	-moz-opacity: 0.9;
	opacity: 0.9;
	display: none;
	


	position:fixed!important;
	position:absolute;

	_top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat')?documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :document.body.scrollTop + (document.body.clientHeight-this.clientHeight)/2);
}












#divloading {
	width: 150px;
	height: 150px;
	z-index: 30;
	right: 2%;
	top: 2%;
	display: none;
	overflow: auto;
	border: thin;
	position: absolute;
	color: green;
	font-size:12px;
}

#transparentDiv {
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0px;
	background-color: #aaa;
	filter: alpha(opacity = 90);
	-moz-opacity: 0.6;
	opacity: 0.3;
	display: none;
	width:100%;
	height:100%;
}

#transparentDiv2 {
	position: fixed;
	z-index: 12;
	top: 0px;
	left: 0px;
	background-color: #aaa;
	filter: alpha(opacity = 90);
	-moz-opacity: 0.6;
	opacity: 0.3;
	display: none;
	width:100%;
	height:100%;
}